//
// VARIABLES
//

// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #666666;
$lightGray: #EEEEEE;
$paleGray: #DDDDDD;
$darkGray: #333333;
$darkerGray: #222222;
$blue: #4183C4;
$purple: #4141C4;
$mahogany: #BD2C00;

// Pagination colors
$pagination-color: $darkGray;
$pagination-hover-color: $blue;
$pagination-active-bg: $blue;
$pagination-active-color: $white;
$pagination-separator-color: $paleGray;

// Transitions
$time: 250ms;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
